---
import Layout from '@layouts/Layout.astro';
import type { Pet } from 'src/types';
// import type { API } from 'src/types';
import petsRes from '../../mocks/pets.json';
import ListPet from '@components/ListPet';
import Filters from '@components/Filters';

// const res = (await fetch('https://sapi-kkff.onrender.com/api/v1/pets').then(res => res.json()).catch(console.error)) as API;

// const pets = res.content as Pet[];
const pets = petsRes as Pet[];
let isError = false;

// if (res.code !== 200) {
// 	isError = true;
// }
---

<Layout title="Pets">
	<main class="w-full px-4">
		{
			isError
				? 'There was an error' // ? res.code + res.message + res.description
				: (
					<Filters client:load name={true} sortAlpha={true} sortTier={true} tier={true}></Filters>
					<ListPet client:load pets={pets}></ListPet>
				)
		}
	</main>
</Layout>