---
import Layout from '@layouts/Layout.astro';
import type { Pet } from 'src/types';
import ListPet from '@components/ListPet';
import Filters from '@components/Filters';
import { setError } from 'src/stores/errorStore';
import { getAllPets } from 'src/lib/apiCalls';

const data = await getAllPets().catch(err => {
	console.error(err);
	setError(err);
	return Astro.redirect('/error');
});

if ('documentationURL' in data) {
	setError(data);
	return Astro.redirect('/error');
}

const pets = data as Pet[];
---

<Layout title="Pets">
	<main class="w-full px-4">
		<Filters client:load name={true} sortAlpha={true} sortTier={true} tier={true}></Filters>
		<ListPet client:load pets={pets}></ListPet>
	</main>
</Layout>