---
import Layout from '@layouts/Layout.astro';
import { getWikiUriFromApiURL, snakeCaseToNormalText } from '../../lib/utils';
import type { Token } from 'src/types';
import { setError } from 'src/stores/errorStore';
import { getToken } from 'src/lib/apiCalls';

export const prerender = false;

let { nameOrId } = Astro.params;

// if no name or id return to tokens list
if (nameOrId === undefined) {
	return Astro.redirect('/tokens');
}

const data = await getToken(nameOrId.toLowerCase()).catch(err => {
	console.error(err);
	setError(err);
	return Astro.redirect('/error');
});

if ('documentationURL' in data) {
	setError(data);
	return Astro.redirect('/error');
}

const token = data as Token;
const tokenName = snakeCaseToNormalText(token.name);
const hasAbility = token.abilities.lv1_ability.length > 0 || token.abilities.lv2_ability.length > 0 || token.abilities.lv3_ability.length > 0;
const hpIndex = token.stats.lv1_stats[0].name.localeCompare('hp') === 0 ? 0 : 1;
const atkIndex = hpIndex === 0 ? 1 : 0;

// Hardcoded special cases
const trigger = token.name.localeCompare('butterfly') === 0 ? 'Transformed' : token.name.localeCompare('smaller_slug') === 0 ? 'Faint' : '';
---

<Layout title={tokenName}>
	<main class="relative my-12 px-8 w-full">
		<a href="/tokens/" class="absolute top-0 left- bg-arrow rotate-180 aspect-square w-10"></a>
		<h1 class="font-sap font-bold mb-12 text-center text-5xl text-sap-yellow-400 tracking-wider">{tokenName}</h1>
		<article class="flex w-full flex-col gap-8">
			<section class="w-full flex flex-col-reverse gap-8 items-center justify-between sm:flex-row self-end my-3">
				<div class="flex flex-col justify-around gap-16">
					<p class="text-2xl">
						The <strong>{tokenName}</strong> is a Tier {token.tier_info.tier} token.
					</p>
				</div>
				<div class="relative flex flex-col justify-center items-center gap-6 border-seagull-700 border-2 rounded-xl p-6">
					<img class="absolute w-16 -top-6 -left-6" src={`/imgs/84px-Tier_${token.tier_info.tier}_Icon.png`} title={`Tier ${token.tier_info.tier} Icon Sprite`} alt={`Tier ${token.tier_info.tier} Icon Sprite`} />
					<img class="w-64" src={token.sprites.standard} title={tokenName} alt={`SAP ${tokenName} sprite`} />
				</div>
			</section>
			<section class="w-full flex flex-col gap-3">
				{
					!hasAbility
						? null
						: (
							<h2 class="font-sap font-bold text-3xl">Ability</h2>
							<ul class="self-start">
								<li class="w-full text-xl flex">
									<span class="bg-l1 aspect-square w-16 bg-no-repeat bg-contain inline-block mr-6 sm:w-8"></span>
									<p class="inline-block font-libsans leading-8">
										{
											trigger
												? (
																<strong>{trigger}</strong>
																<span class="bg-arrow w-8 h-6 mx-3 bg-no-repeat bg-cover inline-block"></span>
												)
												: ''
										}
										{token.abilities.lv1_ability}
									</p>
								</li>
								<li class="w-full text-xl flex">
									<span class="bg-l2 aspect-square w-16 bg-no-repeat bg-contain inline-block mr-6 sm:w-8"></span>
									<p class="inline-block font-libsans leading-8">
										{
											trigger
												? (
										<strong>{trigger}</strong>
										<span class="bg-arrow w-8 h-6 mx-3 bg-no-repeat bg-cover inline-block"></span>
												)
												: ''
										}
										{token.abilities.lv2_ability}
									</p>
								</li>
								<li class="w-full text-xl flex">
									<span class="bg-l3 aspect-square w-16 bg-no-repeat bg-contain inline-block mr-6 sm:w-8"></span>
									<p class="inline-block font-libsans leading-8">
										{
											trigger
												? (
										<strong>{trigger}</strong>
										<span class="bg-arrow w-8 h-6 mx-3 bg-no-repeat bg-cover inline-block"></span>
												)
												: ''
										}
										{token.abilities.lv3_ability}
									</p>
								</li>
							</ul>
						)
				}
			</section>
			<section class="w-full flex flex-col gap-3">
				<h2 class="font-sap font-bold text-3xl">Stats</h2>
				<ul class="flex flex-col gap-3 self-start mx-auto sm:ml-3">
					<li class="w-full text-xl flex">
						<span class="bg-l1 aspect-square w-10 bg-no-repeat bg-contain inline-block mr-6"></span>
						<span class="bg-arrow w-8 h-6 mx-3 bg-no-repeat bg-cover inline-block mr-6"></span>
						<span class="bg-atk aspect-square w-10 leading-10 bg-no-repeat bg-contain inline-block mr-6 font-sap text-center text-xl">
							{token.stats.lv1_stats[atkIndex].base_stat}
						</span>
						<span class="bg-hp aspect-square w-10 leading-10 bg-no-repeat bg-contain inline-block mr-6 font-sap text-center text-xl">
							{token.stats.lv1_stats[hpIndex].base_stat}
						</span>
					</li>
					<li class="w-full text-xl flex">
						<span class="bg-l1 aspect-square w-10 bg-no-repeat bg-contain inline-block mr-6"></span>
						<span class="bg-arrow w-8 h-6 mx-3 bg-no-repeat bg-cover inline-block mr-6"></span>
						<span class="bg-atk aspect-square w-10 leading-10 bg-no-repeat bg-contain inline-block mr-6 font-sap text-center text-xl">
							{token.stats.lv2_stats[atkIndex].base_stat}
						</span>
						<span class="bg-hp aspect-square w-10 leading-10 bg-no-repeat bg-contain inline-block mr-6 font-sap text-center text-xl">
							{token.stats.lv2_stats[hpIndex].base_stat}
						</span>
					</li>
					<li class="w-full text-xl flex">
						<span class="bg-l1 aspect-square w-10 bg-no-repeat bg-contain inline-block mr-6"></span>
						<span class="bg-arrow w-8 h-6 mx-3 bg-no-repeat bg-cover inline-block mr-6"></span>
						<span class="bg-atk aspect-square w-10 leading-10 bg-no-repeat bg-contain inline-block mr-6 font-sap text-center text-xl">
							{token.stats.lv3_stats[atkIndex].base_stat}
						</span>
						<span class="bg-hp aspect-square w-10 leading-10 bg-no-repeat bg-contain inline-block mr-6 font-sap text-center text-xl">
							{token.stats.lv3_stats[hpIndex].base_stat}
						</span>
					</li>
				</ul>
			</section>
			<section class="flex flex-col gap-3 my-3">
				{
					token.notes.length > 0
						? (
							<h2 class="font-sap text-3xl">Notes</h2>
							<p class="text-xl mx-auto sm:ml-3">
								{token.notes}
							</p>
						)
						: null
				}
			</section>
			<section class="flex flex-col gap-3 my-3">
				<h2 class="font-sap text-3xl">This is token summoned from</h2>
				<p class="text-xl mx-auto sm:ml-3">
					{token.summoned_from.source} <a href={getWikiUriFromApiURL(token.summoned_from.url)} class="bg-link aspect-square w-6 inline-block ml-3"></a>
				</p>
			</section>
			<section class="flex flex-col gap-3 my-3">
				<h2 class="font-sap text-3xl">Sprites</h2>
				<ul class="flex flex-col gap-12 sm:flex-row mx-auto sm:ml-3">
					<img class="h-40 border-seagull-700 border-2 rounded-xl p-2" src={token.sprites.standard} title=`${tokenName} Standard` alt=`SAP ${tokenName} standard sprite` />
					{
						token.sprites.classic
							? <img class="h-40 border-seagull-700 border-2 rounded-xl p-2" src={token.sprites.classic} title={`${tokenName} Classic`} alt={`SAP ${tokenName} classic sprite`} />
							: null
					}
				</ul>
			</section>
		</article>
	</main>
</Layout>