---
import type { Pet } from '@dtypes/pet';

interface Props {
	pet: Pet;
}

const { pet } = Astro.props;
---

<article class="w-56 h-48 m-auto px-6 py-3 flex flex-col gap-4 bg-fun-green-700 rounded-lg shadow-lg shadow-black">
	<h2 class="w-full text-center text-3xl leading-7 font-sap font-bold py-1 border-b border-b-fun-green-900">
		<!-- Transform snake_case to Normal Text -->
		{pet.name.replace(/_([a-z])/g, (_, match) => ` ${match.toUpperCase()}`).replace(/^[a-z]/, match => match.toUpperCase())}
	</h2>
	<div class="flex justify-around items-center h-full">
		<img class="h-[90px] object-contain" src={pet.sprites.standard} alt=`SAP ${pet.name} standard image`>
		<div class="flex flex-col justify-around h-full">
			{
				pet.stats[0].name.localeCompare('hp') === 0
					? (
						<span class="bg-hp bg-cover aspect-square w-9 leading-9 text-center font-sap">
							{pet.stats[0].base_stat}
						</span>
						<span class="bg-atk bg-cover aspect-square w-9 leading-9 text-center font-sap">
							{pet.stats[1].base_stat}
						</span>
					)
					: (
						<span class="bg-atk bg-cover aspect-square w-9 leading-9 text-center font-sap">
							{pet.stats[0].base_stat}
						</span>
						<span class="bg-hp bg-cover aspect-square w-9 leading-9 text-center font-sap">
							{pet.stats[1].base_stat}
						</span>
					)
			}
		</div>
	</div>
</article>